/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #fef57b, #fef57b);
    color: #333;
}

/* Container principal */
.container {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    width: 500px;
}

/* Logo */
.logo {
    width: 250px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: px;
}


h1 {
    font-size: 26px;
    color: #ff7e5f;
    margin-bottom: 20px;
}

/* Input de ingredientes */
input[type="text"] {
    width: 100%;
    padding: 20px;
    border: 2px solid #ff7e5f;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #feb47b;
    outline: none;
}

/* Botão de pesquisa */
button {
    width: 100%;
    padding: 10px;
    background-color: #ff7e5f;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #feb47b;
}

/* Resultado da receita */
#recipeResult {
    margin-top: 40px;
    padding: 15px;
    background: #fff5e1;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #444;
}

#recipeResult h2 {
    font-size: 20px;
    color: #ff7e5f;
    margin-bottom: 10px;
}

#recipeResult p {
    margin: 8px 0;
    line-height: 1.5;
}